<div class="card">
    <div class="card-header" id="heading-{{question_uuid}}">
        <div class="card-title collapsed" data-toggle="collapse" data-target="#{{question_uuid}}" aria-expanded="false" aria-controls="{{question_uuid}}">
            <i class="flaticon2-gift-1"></i> {{question_title}}
        </div>
    </div>
    <div id="{{question_uuid}}" class="collapse" aria-labelledby="heading-{{question_uuid}}" data-parent="#accordionExample6">
        <div class="card-body">
            vfdhfshdfhsfhdfhsfdfhsfhgdfhsfdhfhs
        </div>
    </div>
</div>
