<!--begin::Modal-->
<div class="modal fade" id="question_manager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog-centered modal-xl modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="question-title-modal">Nova resposta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <form id="question_form">
                    <div class="modal-body" id="modal_body_question">
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-times">
                            </i>
                            Fechar
                        </a>
                        <button type="submit" id="question-save" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            Salvar
                        </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end::Modal-->