
{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block header %}
    
{% endblock header %}
    
{% block content %}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content"> 
        
        <div class="row">
            <div class="col-xl-3">
                <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                            <!--Begin::Portlet-->
                    <div class="kt-portlet kt-portlet--height-fluid-">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                    
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-2">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <span class="kt-userpic kt-userpic--xl kt-userpic--success kt-margin-r-5 kt-margin-t-5"> 
                                                <span>{{alias_name}}</span>
                                        </span>
                                    </div>
                                    <div class="kt-widget__info">
                                        <a href="#" class="kt-widget__username">
                                            {{short_name}}                                                 
                                        </a>
                                        <span class="kt-widget__desc">
                                            Head of Development
                                        </span>
                                    </div>
                                </div>
                    
                                <div class="kt-widget__body">
                                    <div class="kt-widget__section">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
                                    </div>
                    
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__stats kt-margin-r-20">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-open-box"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Disciplinas</span>
                                                <span class="kt-widget__value">5</span>
                                            </div>
                                        </div>
                    
                                        <div class="kt-widget__stats">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-book"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Games</span>
                                                <span class="kt-widget__value">23</span>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="kt-widget__item">
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Email:</span>
                                            <a class="kt-widget__data">{{request.user.email}}</a>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Telefone:</span>
                                            <a class="kt-widget__data">{{request.user.telefone}}</a>
                                        </div>
                                        <div class="kt-widget__contact">
                                            <span class="kt-widget__label">Cidade:</span>
                                            <span class="kt-widget__data">{{request.user.cidade}}</span>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="kt-widget__footer">
                                    <button type="button" class="btn btn-label-success btn-lg btn-upper">Editar Perfil</button>
                                </div>
                            </div>
                            <!--end::Widget -->
                    
                            <!--begin::Navigation -->
                            <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20 kt-hidden" role="tablist">
                                <li class="kt-nav__item kt-nav__item--active">
                                    <a class="kt-nav__link active" data-toggle="tab" href="#kt_profile_tab_personal_information" role="tab">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                        <span class="kt-nav__link-text">Personal Information</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" data-toggle="tab" href="#kt_profile_tab_account_information" role="tab">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-protected"></i></span>
                                        <span class="kt-nav__link-text">Acccount Information</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-hourglass-1"></i></span>
                                        <span class="kt-nav__link-text">Payments</span>
                                    </a>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-bell-2"></i></span>
                                        <span class="kt-nav__link-text">Statements</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                        <span class="kt-nav__link-icon"><i class="flaticon2-medical-records-1"></i></span>
                                        <span class="kt-nav__link-text">Audit Log</span>
                                    </a>
                                </li>
                            </ul>
                            <!--end::Navigation -->
                        </div>
                    </div>
                    <!--End::Portlet--> 
                    
                        
                            <!--Begin:: Portlet-->
                            
                            <!--End:: Portlet-->
                        </div>
            </div>
            <div class="col-xl-9">
               
            </div>
        </div>
    </div>
{% endblock %}
  

    

    