
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block header %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">    
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__toolbar">
                <a href="#" id="discipline-create" class="btn btn-label-danger btn-bold" data-skin="dark" data-toggle="kt-tooltip" data-placement="left" data-original-title="Adicionar disciplina">
                    <i class="fa flaticon2-plus-1"> </i>
                    Adicionar Disciplina
                </a>
            </div>
        </div>
    </div>
{% endblock header %}    
{% block content %}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col">
                <div class="alert alert-light alert-elevate fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-interface-10"></i></div>
                    <div class="alert-text">
                        Manutenção de <a class="kt-link kt-font-bold" href="{% url 'core:begin' %}" >Disciplinas</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}
  

    

    