
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        {% if tipo_perfil == '2' %}
            <div class="row">
                <div class="col-xl-3">
                        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
                                <!--Begin::Portlet-->
                        <div class="kt-portlet kt-portlet--height-fluid-">
                            <div class="kt-portlet__head kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                        
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <!--begin::Widget -->
                                <div class="kt-widget kt-widget--user-profile-2">
                                    <div class="kt-widget__head">
                                        <div class="kt-widget__media">
                                            <span class="kt-userpic kt-userpic--xl kt-userpic--success kt-margin-r-5 kt-margin-t-5"> 
                                                    <span>{{alias_name}}</span>
                                            </span>
                                        </div>
                                        <div class="kt-widget__info">
                                            <a href="#" class="kt-widget__username">
                                                {{short_name}}                                                 
                                            </a>
                                            <span class="kt-widget__desc">
                                                Head of Development
                                            </span>
                                        </div>
                                    </div>
                        
                                    <div class="kt-widget__body">
                                        <div class="kt-widget__section">
                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
                                        </div>
                        
                                        <div class="kt-widget__content">
                                            <div class="kt-widget__stats kt-margin-r-20">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-open-box"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Disciplinas</span>
                                                    <span class="kt-widget__value">5</span>
                                                </div>
                                            </div>
                        
                                            <div class="kt-widget__stats">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-book"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Games</span>
                                                    <span class="kt-widget__value">23</span>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Email:</span>
                                                <a class="kt-widget__data">{{request.user.email}}</a>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Telefone:</span>
                                                <a class="kt-widget__data">{{request.user.telefone}}</a>
                                            </div>
                                            <div class="kt-widget__contact">
                                                <span class="kt-widget__label">Cidade:</span>
                                                <span class="kt-widget__data">{{request.user.cidade}}</span>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="kt-widget__footer">
                                        <button type="button" class="btn btn-label-success btn-lg btn-upper">Editar Perfil</button>
                                    </div>
                                </div>
                                <!--end::Widget -->
                        
                                <!--begin::Navigation -->
                                <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20 kt-hidden" role="tablist">
                                    <li class="kt-nav__item kt-nav__item--active">
                                        <a class="kt-nav__link active" data-toggle="tab" href="#kt_profile_tab_personal_information" role="tab">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                            <span class="kt-nav__link-text">Personal Information</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link" data-toggle="tab" href="#kt_profile_tab_account_information" role="tab">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-protected"></i></span>
                                            <span class="kt-nav__link-text">Acccount Information</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-hourglass-1"></i></span>
                                            <span class="kt-nav__link-text">Payments</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__separator"></li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-bell-2"></i></span>
                                            <span class="kt-nav__link-text">Statements</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                            <span class="kt-nav__link-icon"><i class="flaticon2-medical-records-1"></i></span>
                                            <span class="kt-nav__link-text">Audit Log</span>
                                        </a>
                                    </li>
                                </ul>
                                <!--end::Navigation -->
                            </div>
                        </div>
                        <!--End::Portlet--> 
                        
                         
                                <!--Begin:: Portlet-->
                                
                                <!--End:: Portlet-->
                            </div>
                </div>
                <div class="col-xl-9">
                    {% render_table table %}
                </div>
            </div>
        {% else %}
        <!--Begin::Section-->
            <div class="row">
                    <div class="col-xl-12">

                        <!--begin:: Widgets/Applications/User/Profile3-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__body">
                                <div class="kt-widget kt-widget--user-profile-3">
                                    <div class="kt-widget__top">
                                            <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden-">
                                                {{alias_name}}
                                            </div>
                                        <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                            JM
                                        </div>
                                        <div class="kt-widget__content">
                                            <div class="kt-widget__head">
                                                <a href="#" class="kt-widget__username">
                                                    Jason Muller
                                                    <i class="flaticon2-correct"></i>
                                                </a>
                                                <div class="kt-widget__action">
                                                    <button type="button" class="btn btn-label-success btn-sm btn-upper">ask</button>&nbsp;
                                                    <button type="button" class="btn btn-brand btn-sm btn-upper">hire</button>
                                                </div>
                                            </div>
                                            <div class="kt-widget__subhead">
                                                <a href="#"><i class="flaticon2-new-email"></i>jason@siastudio.com</a>
                                                <a href="#"><i class="flaticon2-calendar-3"></i>PR Manager </a>
                                                <a href="#"><i class="flaticon2-placeholder"></i>Melbourne</a>
                                            </div>
                                            <div class="kt-widget__info">
                                                <div class="kt-widget__desc">
                                                    I distinguish three main text objektive could be merely to inform people.
                                                    <br> A second could be persuade people.You want people to bay objective
                                                </div>
                                                <div class="kt-widget__progress">
                                                    <div class="kt-widget__text">
                                                        Progress
                                                    </div>
                                                    <div class="progress" style="height: 5px;width: 100%;">
                                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="kt-widget__stats">
                                                        78%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-widget__bottom">
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-piggy-bank"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Earnings</span>
                                                <span class="kt-widget__value"><span>$</span>249,500</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-confetti"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Expances</span>
                                                <span class="kt-widget__value"><span>$</span>164,700</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-pie-chart"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">Net</span>
                                                <span class="kt-widget__value"><span>$</span>164,700</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-file-2"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">73 Tasks</span>
                                                <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-chat-1"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <span class="kt-widget__title">648 Comments</span>
                                                <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <div class="kt-widget__icon">
                                                <i class="flaticon-network"></i>
                                            </div>
                                            <div class="kt-widget__details">
                                                <div class="kt-section__content kt-section__content--solid">
                                                    <div class="kt-badge kt-badge__pics">
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                            <img src="./assets/media/users/100_7.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                                            <img src="./assets/media/users/100_3.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                                            <img src="./assets/media/users/100_2.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                                            <img src="./assets/media/users/100_13.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                            <img src="./assets/media/users/100_4.jpg" alt="image">
                                                        </a>
                                                        <a href="#" class="kt-badge__pic kt-badge__pic--last kt-font-brand">
                                                            +7
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Applications/User/Profile3-->
                    </div>
            </div>
        <!--End::Section-->
        <div class="row">
                <div class="kt-portlet">
                    <div class="kt-portlet__body  kt-portlet__body--fit">
                        <div class="row row-no-padding row-col-separator-xl">
                            <div class="col-xl-4">

                                <!--begin:: Widgets/Daily Sales-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-widget14">
                                        <div class="kt-widget14__header kt-margin-b-30">
                                            <h3 class="kt-widget14__title">
                                                Daily Sales
                                            </h3>
                                            <span class="kt-widget14__desc">
                                                Check out each collumn for more details
                                            </span>
                                        </div>
                                        <div class="kt-widget14__chart" style="height:120px;">
                                            <canvas id="kt_chart_daily_sales"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Widgets/Daily Sales-->
                            </div>
                            <div class="col-xl-4">

                                <!--begin:: Widgets/Profit Share-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-widget14">
                                        <div class="kt-widget14__header">
                                            <h3 class="kt-widget14__title">
                                                Profit Share
                                            </h3>
                                            <span class="kt-widget14__desc">
                                                Profit Share between customers
                                            </span>
                                        </div>
                                        <div class="kt-widget14__content">
                                            <div class="kt-widget14__chart">
                                                <div class="kt-widget14__stat">45</div>
                                                <canvas id="kt_chart_profit_share" style="height: 140px; width: 140px;"></canvas>
                                            </div>
                                            <div class="kt-widget14__legends">
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-success"></span>
                                                    <span class="kt-widget14__stats">37% Sport Tickets</span>
                                                </div>
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-warning"></span>
                                                    <span class="kt-widget14__stats">47% Business Events</span>
                                                </div>
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-brand"></span>
                                                    <span class="kt-widget14__stats">19% Others</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Widgets/Profit Share-->
                            </div>
                            <div class="col-xl-4">

                                <!--begin:: Widgets/Revenue Change-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-widget14">
                                        <div class="kt-widget14__header">
                                            <h3 class="kt-widget14__title">
                                                Revenue Change
                                            </h3>
                                            <span class="kt-widget14__desc">
                                                Revenue change breakdown by cities
                                            </span>
                                        </div>
                                        <div class="kt-widget14__content">
                                            <div class="kt-widget14__chart">
                                                <div id="kt_chart_revenue_change" style="height: 150px; width: 150px;"></div>
                                            </div>
                                            <div class="kt-widget14__legends">
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-success"></span>
                                                    <span class="kt-widget14__stats">+10% New York</span>
                                                </div>
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-warning"></span>
                                                    <span class="kt-widget14__stats">-7% London</span>
                                                </div>
                                                <div class="kt-widget14__legend">
                                                    <span class="kt-widget14__bullet kt-bg-brand"></span>
                                                    <span class="kt-widget14__stats">+20% California</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Widgets/Revenue Change-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>  
        {% endif %}
    </div>
{% endblock %}
  

    

    