{% load static %}
{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}

<!--begin::Global Theme Styles(used by all pages) -->
<link href="{% static '/vendors/global/vendors.bundle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/demo9/style.bundle.css' %}" rel="stylesheet" type="text/css" />

<!--end::Global Theme Styles -->
<!-- begin::Content -->
<div class="kt-portlet kt-portlet--mobile">
    <div class="table-container">
        {% if filter %}
            
        {% endif %}
        <!-- begin::blocktable -->
        {% block table %}
            <div class="kt-portlet__body kt-portlet__body--fit">
                <table {% render_attrs table.attrs class="table" %} class="kt-datatable__table" width="100%">
    
                    <!-- begin::header -->
                    {% block table.thead %}
                    {% if table.show_header %}
                        <thead {{ table.attrs.thead.as_html }}>
                            <tr class="kt-datatable__row">
                            {% for column in table.columns %}
                                <th {{ column.attrs.th.as_html }} class="kt-datatable__cell kt-datatable__cell--sort" style="color:black!important;">
                                    {% if column.orderable %}
                                        <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                                    {% else %}
                                        {{ column.header }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}
                    {% endblock table.thead %}
                    <!-- end::Header -->
    
                    <!--begin::Tbody -->
                    {% block table.tbody %}
                        <tbody {{ table.attrs.tbody.as_html }}>
                        {% for row in table.paginated_rows %}
                            {% block table.tbody.row %}
                            <tr {{ row.attrs.as_html }}>
                                {% for column, cell in row.items %}
                                    <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                                {% endfor %}
                            </tr>
                            {% endblock table.tbody.row %}
                        {% empty %}
                            {% if table.empty_text %}
                            {% block table.tbody.empty_text %}
                                <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                            {% endblock table.tbody.empty_text %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    {% endblock table.tbody %}
                    <!-- end::Tbody -->
    
                    <!-- begin:Tfoot -->
                    {% block table.tfoot %}
                        {% if table.has_footer %}
                            <tfoot {{ table.attrs.tfoot.as_html }}>
                                <tr>
                                {% for column in table.columns %}
                                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                                {% endfor %}
                                </tr>
                            </tfoot>
                        {% endif %}
                    {% endblock table.tfoot %}
                    <!-- end::Tfoot -->
                </table>
            </div>

        {% endblock table %}
        <!-- end::table -->
        <div class="kt-separator  kt-separator--border-dashed"></div>
        <!-- begin::Paginacao  -->
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="kt-section">
                    <p class="kt-section__content"></p>
                        {% block pagination %}
                            {% if table.page and table.paginator.num_pages > 1 %}
                            <div class="kt-pagination kt-pagination--brand">
                                <ul class="kt-pagination__links">
                                {% if table.page.has_previous %}
                                <!-- voltar -->
                                <li class="kt-pagination__link--first">
                                    <a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                                </li>
                
                                    {% block pagination.previous %}
                                        <li class="kt-pagination__link--next">
                                            <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                                                <i class="fa fa-angle-left kt-font-brand"></i>
                                            </a>
                                        </li>
                                    {% endblock pagination.previous %}
                                {% endif %}
                                {% if table.page.has_previous or table.page.has_next %}
                                    {% block pagination.range %}
                                        {% for p in table.page|table_page_range:table.paginator %}
                                            <li {% if p == table.page.number %}class="kt-pagination__link--active"{% endif %}>
                                                {% if p == '...' %}
                                                    <a href="#">{{ p }}</a>
                                                {% else %}
                                                    <a href="{% querystring table.prefixed_page_field=p %}">
                                                        {{ p }}
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endblock pagination.range %}
                                {% endif %}
                                <!-- Proximo -->
                                {% if table.page.has_next %}
                                    {% block pagination.next %}
                                    <li class="kt-pagination__link--last">
                                        <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                                                <i class="fa fa-angle-double-right kt-font-brand"></i>
                                            
                                        </a>
                                    </li>
                                    {% endblock pagination.next %}
                                {% endif %}
                                </ul>
                                <div class="kt-pagination__toolbar">
                                        <select class="form-control kt-font-brand" style="width: 60px;">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        <span class="pagination__desc">
                                            Displaying 10 of 230 records
                                        </span>
                                    </div>
                            </div>
                            
                            {% endif %}
                        {% endblock pagination %}
                        <!-- end::Blockpagination -->
                </div>
            </div>
        </div>

    </div>
</div>
<script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#2c77f4",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{% static 'js/demo1/scripts.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'js/demo1/vendors.bundle.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'js/demo1/pages/crud/metronic-datatable/base/data-ajax.js' %}" type="text/javascript"></script> -->
<!--end::Global Theme Bundle -->

{% endblock table-wrapper %}
