<a href="#" title="Editar Disciplina" class="btn btn-outline-brand btn-icon discipline-edit" eg-id="{{record.uuid}}" eg-title="{{record.title}}"> 
        <i class="flaticon2-paper"></i> 
    </a>
    <a title="Adicionar quiz" class="btn btn-outline-dark btn-icon"  href="{% url 'quiz:quiz_list' record.uuid %}">
        <i class="flaticon2-add-circular-button"></i> 
    </a>
    <a href="#" title="Excluir Disciplina" class="btn btn-outline-danger btn-icon discipline-delete" eg-url="/discipline_delete/" eg-id="{{record.uuid}}"> 
        <i class="flaticon2-trash"></i> 
    </a>