<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/postsign/" method="post">
        {% csrf_token %}
        E-mail:
        <input type="email" name="email">
        Senha:
        <input type="password" name="pass">

        <input type="submit" value="SignIn">
    </form>
</body>
</html>