{% if msg %}
<script>
    alert('{{msg}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/postsign/" method="post">
        {% csrf_token %}
        E-mail:
        <input type="email" name="email"><br><br>
        Senha:
        <input type="password" name="pass"><br><br>

        <input type="submit" value="SignIn">
        <button type="button" onclick="location.href='{% url 'signup' %}'">SignUp</button>
    </form>
</body>
</html>