<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
            <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
            <span class="kt-input-icon__icon kt-input-icon__icon--right">
                <span><i class="flaticon2-search-1"></i></span>
            </span>
        </div>
    </div>
    <!-- <div class="kt-subheader__toolbar">
        <div class="kt-subheader__toolbar">
            <a id="adicionar-Discipline" class="btn btn-label-danger btn-bold">
                <i class="fa flaticon2-plus-1"> </i>
                Adicionar Discipline
            </a>
        </div>
    </div> -->
</div>