{% extends 'base.html' %}
{% load static %}
    
{% block content_aluno %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="margin-top: 10px;">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-elevate alert-light" role="alert">
                <div class="alert-text" style="font-weight: 500; font-size: 16px;">
                    {% for obj_question in question%}
                        {{obj_question.title}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for obj_answer in answer%}
            <div class="col-lg-6">
                <div class="kt-portlet kt-callout">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{obj_answer.alternative_A}}</h3>
                            </div>
                            <div class="kt-callout__action">
                                <a href="#" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-brand">Submit a Request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet kt-callout">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{obj_answer.alternative_B}}</h3>
                            </div>
                            <div class="kt-callout__action">
                                <a href="#" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-brand">Submit a Request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet kt-callout">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{obj_answer.alternative_C}}</h3>
                            </div>
                            <div class="kt-callout__action">
                                <a href="#" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-brand">Submit a Request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kt-portlet kt-callout">
                    <div class="kt-portlet__body">
                        <div class="kt-callout__body">
                            <div class="kt-callout__content">
                                <h3 class="kt-callout__title">{{obj_answer.alternative_D}}</h3>
                            </div>
                            <div class="kt-callout__action">
                                <a href="#" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-brand">Submit a Request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    <script>
        setInterval(function() {
            var csrftoken, gameUuid;

            //token de sessao
            csrftoken = getCookie('csrftoken');

            // Get uuid game active
            gameUuid = $("#gameUuid").val();

            // Get data select
            $.ajax({
                headers : {'X-CSRFToken': csrftoken},
                type    : 'POST',
                url     : "{% url 'game:students_online' %}",
                data    : {'game_uuid':gameUuid},
                datatype: 'json',

            success: function(data) {
                $("#studentOnline").remove();
                $("#containerPrincipal").append('<div id="studentOnline"></div>')
                $("#studentOnline").append(data);

                
                
                
            },
            error: function(){
                clearInterval(interval);
                Swal.fire({
                    type: 'error',
                    title: 'Desculpe...',
                    text: 'Tivemos algum problema ao obter os alunos online!'
                })
            }
        });
        }, 5000);    
    </script>
    
{% endblock content_aluno %}