<a href="#" title="Editar quiz" class="btn btn-outline-brand btn-icon quiz-edit" cs-id="{{record.uuid}}" cs-titulo="{{record.title}}" > 
    <i class="flaticon2-paper"></i>
</a>
<a href="{% url 'quiz:question_list' record.uuid %}" title="Adicionar questões" class="btn btn-outline-success btn-icon" >
    <i class="flaticon2-search"></i> 
</a>
<a href="#" title="Excluir quiz" class="btn btn-outline-danger btn-icon quiz-delete" cs-url="/quiz/quiz_delete/" cs-id="{{record.uuid}}"> 
    <i class="flaticon2-trash"></i> 
</a>
