<!-- <a href="#" title="Editar quiz" class="btn btn-outline-brand btn-icon editar-quiz" cs-id="{{record.uuid}}" cs-titulo="{{record.titulo}}" > 
    <i class="flaticon2-paper"></i>
</a>
<a href="{% url 'quiz:question_list' record.uuid %}" title="Adicionar questões" class="btn btn-outline-success btn-icon" >
    <i class="flaticon2-search"></i> 
</a> -->
<a href="#" title="Excluir questao" class="btn btn-outline-danger btn-icon question-delete" cs-url="/quiz/question_delete/" cs-id="{{record.uuid}}"> 
    <i class="flaticon2-trash"></i> 
</a> 
    