<div class="row">
    <div class="col-md-12">
        <div class="kt-section">
            <div class="kt-section__title">
                Pergunta: {{context.title}}
            </div>
            <div class="kt-section__content" id="questionTitle">
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="kt-notification-v2">
                    <a href="#" class="kt-notification-v2__item">
                        <div class="kt-notification-v2__item-icon">
                            <i id="trueA" class=" kt-font-success"></i>
                        </div>
                        <div class="kt-notification-v2__itek-wrapper">
                            <div class="kt-notification-v2__item-title" id="optA">
                            </div>
                        </div>	
                    </a>
        
                    <a href="#" class="kt-notification-v2__item">
                        <div class="kt-notification-v2__item-icon">
                            <i id="trueB" class="kt-font-success"></i>
                        </div>
                        <div class="kt-notification-v2__itek-wrapper">
                            <div class="kt-notification-v2__item-title" id="optB">
                            </div>
                        </div>	
                    </a>
            </div>
            </div>
            <div class="col-md-6">
                <div class="kt-notification-v2">
                    <a href="#" class="kt-notification-v2__item">
                        <div class="kt-notification-v2__item-icon">
                            <i id="trueC" class="kt-font-success"></i>
                        </div>
                        <div class="kt-notification-v2__itek-wrapper">
                            <div class="kt-notification-v2__item-title" id="optC">
                            </div>
                        </div>	
                    </a>
        
                    <a href="#" class="kt-notification-v2__item">
                        <div class="kt-notification-v2__item-icon">
                            <i id="trueD" class="kt-font-success"></i>
                        </div>
                        <div class="kt-notification-v2__itek-wrapper">
                            <div class="kt-notification-v2__item-title" id="optD">
                            </div>
                        </div>	
                    </a>
                </div>
            </div>
        </div>
</div>

