
<a href="#" onclick="questionBookPreview()" class="btn btn-outline-success btn-icon" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Visualizar questão">
    <i class="flaticon-eye"></i> 
</a>
<a href="#" class="btn btn-outline-danger btn-icon question-delete" eg-url="/quiz/question_delete/" eg-id="{{record.uuid}}" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Excluir questão"> 
    <i class="flaticon2-trash"></i> 
</a> 
    