<div class="row">
    <div class="col-md-8">
        <div class="kt-section">
            <div id="questionTitle" class="kt-section__content kt-section__content--border kt-section__content--fit" style="min-height:200px Important;">
            </div>
        </div>
    </div>
        <div class="col-md-4">
                <div class="kt-section">
                        <div class="kt-section__content kt-section__content--border kt-section__content--fit" >
                            <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v3" role="tablist">
                                <li class="kt-nav__item active">
                                    <a class="kt-nav__link" data-toggle="tab" href="#" role="tab">
                                        <span class="kt-nav__link-icon">
                                            <i id="trueA" class=" kt-font-success"></i>	
                                        </span>
                                        <span class="kt-nav__link-text" id="optA"></span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" data-toggle="tab" href="#kt_profile_tab_account_information" role="tab">
                                        <span class="kt-nav__link-icon">
                                            <i id="trueB" class=" kt-font-success"></i>	
                                        </span>
                                        <span class="kt-nav__link-text" id="optB"></span>
                                    </a>
                                </li>
                                <li class="kt-nav__item active">
                                    <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                        <span class="kt-nav__link-icon">
                                            <i id="trueC" class=" kt-font-success"></i>	   
                                        </span>
                                        <span class="kt-nav__link-text" id="optC"></span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                        <span class="kt-nav__link-icon">
                                            <i id="trueD" class=" kt-font-success"></i>	 
                                        </span>
                                        <span class="kt-nav__link-text" id="optD"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>


