
<a href="#" onclick="questionBookPreview('{{record.uuid}}')" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Visualizar questão">
    <i class="la la-eye"></i> 
</a>
<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md question-delete" eg-url="/quiz/question_delete/" eg-id="{{record.uuid}}" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" data-original-title="Excluir questão"> 
    <i class="la la-trash"></i> 
</a> 
    