

{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block header %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="{% url 'core:begin' %}" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{% url 'core:begin' %}" class="kt-subheader__breadcrumbs-link">
                    Disciplina
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="{% url 'quiz:quiz_list' discipline_uuid %}" class="kt-subheader__breadcrumbs-link">
                    Quiz
                </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__toolbar">
                <a href="#" id="question-create" onclick="questionBook()" value="{{quiz_uuid}}" class="btn btn-label-danger btn-bold">
                    <i class="fa flaticon2-plus-1"> </i>
                    Adicionar questão
                </a>
            </div>
        </div>
    </div>
{% endblock header %}
{% block content %}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col">
                <div class="alert alert-light alert-elevate fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-interface-10"></i></div>
                    <div class="alert-text">
                        Manutenção de <a href="#" class="kt-link kt-font-bold">Questões</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <input type="hidden" name="" value="{{Discipline_uuid}}" id="Discipline-uuid"> 
                {% render_table table %}
            </div>
        </div>
    </div>
    {% include 'question_modal.html' %}
{% endblock %}
  

    

    
  

    

    