<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="message-text" class="form-control-label">Descreva a pergunta que sera apresentada</label>
                <textarea class="form-control" id="message-text" rows="14"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" id="form-alternatives">
                <label for="message-text" class="form-control-label">Preencha todas as alternativas e selecione a correta</label>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <input type="radio" id="question-selected" name="question-selected" value="A">
                        </span>
                    </div>
                    <textarea class="form-control" id="kt_autosize" rows="1" placeholder="Alternativa A"></textarea>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <input type="radio" id="question-selected" name="question-selected" value="B">
                        </span>
                    </div>
                    <textarea class="form-control" id="kt_autosize" rows="1" placeholder="Alternativa B"></textarea>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <input type="radio" id="question-selected" name="question-selected" value="C">
                        </span>
                    </div>
                    <textarea class="form-control" id="kt_autosize" rows="1" placeholder="Alternativa C"></textarea>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <input type="radio" id="question-selected" name="question-selected" value="D">
                        </span>
                    </div>
                    <textarea class="form-control" id="kt_autosize" rows="1" placeholder="Alternativa D"></textarea>
                </div>
                <br>
                <label for="message-text" class="form-control-label"><strong>Tempo para questao </strong>(em segundos)</label>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="flaticon-time"></i>
                        </span>
                    </div>
                    <textarea class="form-control" id="kt_autosize" rows="1"></textarea>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>